#search {
  margin: 0 0 0 1em;
  padding: 0 1em 0 1em;
}

#pokemon-grid {
  opacity: 0;
}

#loader {
  display: flex;
  justify-content: center;
}
#username-button {
  margin: 0 0 0 1em;
  padding: 0 1em 0 1em;
}

.user-input {
  width: 30% !important;
}
